layout {

    focus-ring {
        active-color   "#b47109"
        inactive-color "#fbf1c7"
        urgent-color   "#c14a4a"
    }

    border {
        active-color   "#b47109"
        inactive-color "#fbf1c7"
        urgent-color   "#c14a4a"
    }

    shadow {
        color "#c8a87070"
    }

    tab-indicator {
        active-color   "#b47109"
        inactive-color "#eac386"
        urgent-color   "#c14a4a"
    }

    insert-hint {
        color "#b4710980"
    }
}

recent-windows {
    highlight {
        active-color "#b47109"
        urgent-color "#c14a4a"
    }
}
