layout {

    focus-ring {
        active-color   "#879a39"
        inactive-color "#fffcf0"
        urgent-color   "#d14d41"
    }

    border {
        active-color   "#879a39"
        inactive-color "#fffcf0"
        urgent-color   "#d14d41"
    }

    shadow {
        color "#100f0f70"
    }

    tab-indicator {
        active-color   "#879a39"
        inactive-color "#ced5b1"
        urgent-color   "#d14d41"
    }

    insert-hint {
        color "#879a3980"
    }
}

recent-windows {
    highlight {
        active-color "#879a39"
        urgent-color "#d14d41"
    }
}
