layout {

    focus-ring {
        active-color   "#879a39"
        inactive-color "#100f0f"
        urgent-color   "#b77bd8"
    }

    border {
        active-color   "#879a39"
        inactive-color "#100f0f"
        urgent-color   "#b77bd8"
    }

    shadow {
        color "#100f0f70"
    }

    tab-indicator {
        active-color   "#879a39"
        inactive-color "#343e0f"
        urgent-color   "#b77bd8"
    }

    insert-hint {
        color "#879a3980"
    }
}

recent-windows {
    highlight {
        active-color "#879a39"
        urgent-color "#b77bd8"
    }
}
